Source: e1000e
Section: kernel
Priority: extra
Maintainer: Christopher Huhn <C.Huhn@gsi.de>
Build-Depends: debhelper (>= 9), bzip2
Standards-Version: 3.9.8
Homepage: https://downloadcenter.intel.com/download/15817>
Vcs-Git: https://github.com/chuhn/e1000e-source.git
Vcs-Browser: https://github.com/chuhn/e1000e-source

Package: e1000e-source
Architecture: all
Depends:  ${misc:Depends}, module-assistant, debhelper (>= 7), make, bzip2
Description: source for the e1000e driver
 This package provides the source code for the e1000e kernel modules.
 The e1000e package is also required in order to make use of these
 modules. Kernel source or headers are required to compile these modules.
